services:
    nginx:
        restart: always
        image: nginx:latest
        container_name: nginx
        volumes:
            - "./nginx/default.conf:/etc/nginx/conf.d/default.conf" #config for nginx - server runs under subdomain /server & eds under /eds
        ports:
            - "4200:80" #all services will be exposed at port 4200 of the browser;
    eds:
        image: stellamarkop/eds:evaluation0 #change to the latest tag of eds
        container_name: eds
        ports:
            - "80"
        environment:
            - SERV_HOST=https://services.modapto.atc.gr 
            - SOCKET_HOST=http://localhost:4200 #server base IP for Socket.io; adjust the IP url according your host environment. Server runs under nginx proxy pass(thats why port is 4200)- we have configured in Angular to request Socket under /server subdomain.
            - KEYCLOAK_URL=https://fvt.aegisresearch.eu
            - API_USERNAME=example
            - API_PASSWORD=example
            - AUTH_HOST=https://services.modapto.atc.gr 
            - DTM_HOST=https://dt-management.modapto.atc.gr
            - PY_HOST=http://localhost:5055
            - CO_SIM=https://co-simulation.modapto.atc.gr/model-simulation-verification/
            - SIM=https://simulation.modapto.atc.gr/
        volumes:
            - ./nginx/eds/nginx.conf:/etc/nginx/conf.d/default.conf #nginx config for eds running at /eds subfolder + refresh page settings
